$navbar-default-bg: #080883;
@import "bootstrap-sprockets";
@import "bootstrap";

#brand {
  float: left;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
}

#brand:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron {
  height: 400px;
}

.jumbotron h1 {
  margin-top: 60px;
}

footer {
  border-top: 1px solid #efefef;
}
footer ul {
  float: right;
  list-style-type: none;
}

footer small {
  float: left;
}
